<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?hl=fr'></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>Neoxi</title>
        <!--raleway font-->
        <style>
            @import 'https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext';
        </style>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset ('css/login.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset ('css/actu.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset ('css/neoxi.css')}}">

            <link rel="stylesheet" media="screen and (max-width: 991px)" type="text/css" href="{{ asset ('css/queriesMd.css')}}">
            <link rel="stylesheet" media="screen and (max-width: 767px)" type="text/css" href="{{ asset ('css/queriesXs.css')}}">
            <link rel="stylesheet" media="screen and (max-width: 492px)" type="text/css" href="{{ asset ('css/queriesXXs.css')}}">
        {% endblock %}
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector:'textarea',
                forced_root_block: false,
                menubar: 'tools',
                toolbar: 'undo redo | bold italic underline strikethrough | alignleft alignjustify | outdent indent | fontsizeselect',
                height : 300
        });
        </script>

    </head>
    <header>
        <div class="navbar header-back">
            <div class="container-fluid">
                <div class="row header-back">
                    <div class="col-xs-8 col-md-6 ">
                        <h2>ESPACE ADMINISTRATION</h2>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <a href="{{ path('logout') }}"><button class="back-off">DÉCONNEXION</button></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset ('js/actu.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('js/back.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('js/sticky.js')}}"></script>
    {% endblock %}
    </body>
</html>

