{% extends 'neoxiBase.html.twig' %}
{% block body %}
<div class="container-fluid globalContainer" > <!-- home page image and text bloc -->
    <div class="row">
        <div class="col-xs-12 topImg" style="background-image: url('images/image_index.jpg');">
            <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                <h2 class="h2">NEOXI</h2>
                <p class="p2">Spécialiste en logiciels ERP <br/>
                    Partenaire commercial et technique fiable </p>
                <a href="{{ path('neoxis_societepage') }}"><input class="b2" type="button" title="cliquez" value="EN SAVOIR PLUS"></a>
            </div>
        </div>
    </div>
    <div class="row block1">
        <p class="p3"> NEOXI a été créée pour les revendeurs logiciels afin d’être <br/>
            un partenaire commercial et technique fiable.
        </p>
        <div class="col-xs-12 col-lg-4 space-top center">
            <img src="{{ asset ('images/objectifs-homePage.png')}}">
            <h3 class="h3">OBJECTIFS</h3>
            <p class="p4">Renforcer les équipes <br/>
                des revendeurs de logiciels <br/>
                de gestion
            </p>
        </div>
        <div class="col-xs-12 col-lg-4 space-top center">
            <img src="{{ asset ('images/homePage-solution.png')}}">
            <h3 class="h3">SOLUTIONS</h3>
            <p class="p4"> Prestation sur mesure <br/>
                Partenariat de proximité <br/>
                Flexibilité et savoir-faire
            </p>
        </div>
        <div class="col-xs-12 col-lg-4 space-top center">
            <img src="{{ asset ('images/specialist-homePage.png')}}">
            <h3 class="h3">SPECIALITÉS</h3>
            <p class="p4">Logiciels de gestions du marché <br/>
                des P.M.E et M.G.E
            </p>
        </div>
    </div>
</div>
<div class="container-fluid globalContainer">
    <div class="row block2">
        <h1 class="h1">DERNIÈRES ACTUALITÉS</h1>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
            <div class="border">
                <img class="width100" src="{{ asset ('images/actu1_home.jpg')}}">
                <div class="blockActu">
                    <h2>Première actualité</h2>
                    <p>Quae dum ita struuntur, indicatum est
                        apud Tyrum indumentum regale textum
                        occulte,incertum quo locante vel cuius
                        usibus apparatum. ideoque rector provinci
                        tunc pater Apollinaris eiusdem nominis ut
                        conscius [...]
                    </p>
                    <p>
                        <img src="{{ asset ('images/time-homePage-articles.png')}}">
                        30 Septembre 2016
                    </p>
                    <a href="{{ path('neoxis_actupage') }}"><input type="button" title="cliquez" value="Lire la suite" class="b1"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
            <div class="border">
                <img class="width100" src="{{ ('images/actu2_home.jpg')}}">
                <div class="blockActu">
                    <h2>Deuxième actualité</h2>
                    <p>Quae dum ita struuntur, indicatum est
                        apud Tyrum indumentum regale textum
                        occulte,incertum quo locante vel cuius
                        usibus apparatum. ideoque rector provinci
                        tunc pater Apollinaris eiusdem nominis ut
                        conscius [...]
                    </p>
                    <p>
                        <img src="{{ asset ('images/time-homePage-articles.png')}}">
                        30 Septembre 2016
                    </p>
                    <a href="{{ path('neoxis_actupage') }}"><input type="button" title="cliquez" value="Lire la suite" class="b1"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
            <div class="border">
                <img class="width100" src="{{ asset ('images/actu3_home.jpg')}}">
                <div class="blockActu">
                    <h2>Troisième actualité</h2>
                    <p>Quae dum ita struuntur, indicatum est
                        apud Tyrum indumentum regale textum
                        occulte,incertum quo locante vel cuius
                        usibus apparatum. ideoque rector provinci
                        tunc pater Apollinaris eiusdem nominis ut
                        conscius [...]
                    </p>
                    <p>
                        <img src="{{ asset ('images/time-homePage-articles.png')}}">
                        30 Septembre 2016
                    </p>
                    <a href="{{ path('neoxis_neo_homepage') }}"><input type="button" title="cliquez" value="Lire la suite" class="b1"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}