{% extends 'neoxiBase.html.twig' %}
{% block body %}
<div class="container-fluid globalContainer" > <!-- home page image and text bloc -->
    <div class="row">
        <div class="col-xs-12 topImg" style="background-image: url('images/image_index.jpg');">
            <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                <h2 class="h2">NEOXI</h2>
                <p class="p2" id="specific-font">RESSOURCES INFORMATIQUES</p>
                <a href="{{ path('neoxis_societepage') }}"><input class="b2" id="hide-button" type="button" title="cliquez" value="EN SAVOIR PLUS"></a>
            </div>
        </div>
    </div>
    <div class="row block1">
        <p class="p3"> Neoxi créée pour être un partenaire technico-commercial compétent et expérimenté
            pour les revendeurs et intégrateurs de logiciels de gestion.
        </p>
        <div class="col-xs-12 col-lg-4 space-top center">
            <img src="{{ asset ('images/objectifs-homePage.png')}}">
            <h3 class="h3">OBJECTIFS</h3>
            <p class="p4">Renforcer les équipes <br/>
                des revendeurs de logiciels <br/>
                de gestion
            </p>
        </div>
        <div class="col-xs-12 col-lg-4 space-top center">
            <img src="{{ asset ('images/homePage-solution.png')}}">
            <h3 class="h3">SOLUTIONS</h3>
            <p class="p4"> Prestation sur mesure <br/>
                Partenariat de proximité <br/>
                Flexibilité et savoir-faire
            </p>
        </div>
        <div class="col-xs-12 col-lg-4 space-top center">
            <img src="{{ asset ('images/specialist-homePage.png')}}">
            <h3 class="h3">SPECIALITÉS</h3>
            <p class="p4">Logiciels de gestions du <br/>
                marché des P.M.E
            </p>
        </div>
    </div>
</div>
<div class="container-fluid globalContainer">
    <div class="row block2">
        <h1 class="h1">DERNIÈRES ACTUALITÉS</h1>
        {% set id = -1 %}
        {% for news in news %}
            {% set id = id + 1 %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 space-top">
                    <div class="border">
                        <img class="width100" src="{{ news.picture }}">
                        <div class="blockActu homeActu">
                            <h2>{{ news.title }}</h2>
                            <p><img src="{{ asset ('images/time-homePage-articles.png')}}"> {{ news.date }}</p>
                            <p>{{ news.text|raw }}</p>
                        </div>
                        <div class="buttonActuHome"></div>
                        <div class="homeActuButton">
                            <input type="button" title="cliquez" value="Lire la suite" class="b1" onclick="goToActu({{ id }});">
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}