{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid globalContainer">
    <div class="row">
        <div class="col-xs-12 topImg" style="background-image: url{{ asset ('images/imgexp.jpg')}};">
            <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                <h2 class="h2">NOTRE EXPERTISE</h2>
                <p class="p2">Lorem ipsum dolore. <br/>
                    Lorem ipsum dolore.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid globalContainer break">
    <h1 class="col-xs-offset-1 h1">NOTRE EXPERTISE</h1>
    <div class="row block1">
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ asset ('images/logoExpertEnt.png')}}" alt="logo expertise entreprise">
            <p>UNE GESTION SOUPLE DE L'ENTREPRISE</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">Comme cela s'est plusieurs fois produits, Neoxi dans le cadre des ses interventions peut être force de proppostition auprès de vos clients.
            </p>
        </div>
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ ('images/logoExpertTier.png')}}" alt="logo expertise tier payant">
            <p>UN TIERS PAYANT ÉTENDU ET MAITRISÉ</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">Comme cela s'est plusieurs fois produits, Neoxi dans le cadre des ses interventions peut être force de proppostition auprès de vos clients.</p>
        </div>
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ ('images/logoExpertCom.png')}}" alt="logo expertise com">
            <p>UNE COMMUNICATION DYNAMIQUE</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">En matière de nouvelles options, de nouveaux logiciels complémentaires ou nouvelles plateformes.</p>
        </div>
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ asset ('images/logoExpertInnov.png')}}" alt="logo expertise innovation">
            <p>UNE DÉMARCHE INNOVANTE</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">Neoxi met à disposition ses ressources pour que vous puissiez les intégrer dans vos planings opérationnels</p>
        </div>
    </div>
</div>
{% endblock %}