{% extends 'backOfficeBase.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row break">
                <h1 class="col-xs-12 titleBack">Editer l'actualité</h1>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ form_start(edit_form, {'attr': {novalidate: 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_row(edit_form.picture, {label:'image :', 'attr':{'class' : 'form-control'}, id : 'srcImage'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(edit_form.title, {label:'titre :', 'attr':{'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group hidden">{% set date = now %}
                        {{ form_row(edit_form.date, {label:'date :', 'attr':{'class' : 'form-control'}, value : date, type: 'hidden'}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(edit_form.text, {label:'texte :', 'attr':{'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <input class="AjoutActu" type="submit" value="Editer" />
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                    <div class="col-xs-6 form-group">
                        <input class="delete" type="button" value="Supprimer" onclick="unhideButton();">
                    </div>
                    <div id ="confirm" class="confirm form-group">
                        <div class="col-xs-6">
                            <input class="AjoutActu" type="submit" value="annuler" onclick="hideButton();">
                        </div>
                        <div class="col-xs-6">
                            {{ form_start(delete_form) }}
                            <input class="delete" type="submit" value="Confirmer">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="{{ path('admin') }}"><input class="btn retour" type="submit" value="<- Retour à l'accueil"></a>
                    </div>
                </div>
                <div class="col-xs-6 space20">
                    {% set id = 1 %}
                    {% for imgNumber in 1..12%}
                        <div class="col-xs-4">
                            <img class="col-xs-11 imgBack pointer" src="{{ asset ('images/banque/image_actu' ~ id ~ '.jpg') }}" onclick="buttonInsertSrc({{ id - 1 }})">
                        </div>
                        {% set id = id + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container marginContainer"></div>
    </div>

{% endblock %}